<div class="wrapper" style="background-Color:#2c2c2c">
    <iframe id="iframe1" *ngIf="pageIndex==='1'" src="https://prezi.com/i/embed/BpwMFB47lmtJw4yShnHy/"
        id="iframe_container" frameborder="0" width="100%" [ngStyle]="{'height': iframeHeight}"
        style="background-Color:#2c2c2c" (load)="setIframeHeight()"></iframe>
    <iframe id="iframe1" *ngIf="pageIndex==='2'" src="https://prezi.com/i/embed/ghUei1xHLvHwYRJZ0Mx9/"
        id="iframe_container" frameborder="0" width="100%" [ngStyle]="{'height': iframeHeight}"
        style="background-Color:#2c2c2c" (load)="setIframeHeight()"></iframe>
    <iframe id="iframe1" *ngIf="pageIndex==='3'" src="https://prezi.com/i/embed/ghUei1xHLvHwYRJZ0Mx9/"
        id="iframe_container" frameborder="0" width="100%" [ngStyle]="{'height': iframeHeight}"
        style="background-Color:#2c2c2c" (load)="setIframeHeight()"></iframe>

</div>