<div class="wrapper" style="background-Color:#2c2c2c">
    <iframe id="iframe1" src="https://prezi.com/i/embed/ghUei1xHLvHwYRJZ0Mx9/" id="iframe_container" frameborder="0"
        width="100%" [ngStyle]="{'height': iframeHeight}" style="background-Color:#2c2c2c"
        (load)="setIframeHeight()"></iframe>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <!--                     <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </footer>
</div>